In [1]:
a = 1
(a + 1)**5

32

In [3]:
users_moscow, revenue_moscow = 4900, 63000
users_spb, revenue_spb = 3500, 48000

In [4]:
revenue_moscow + revenue_spb

111000

In [10]:
arpu_moscow, arpu_spb = revenue_moscow / users_moscow, revenue_spb / users_spb

In [6]:
type(revenue_moscow)

int

In [8]:
project_name = 'Python для анализа данных'
print('Название курса ' + project_name)

Название курса Python для анализа данных

In [13]:
print('Санкт-Петербург: пользователей {}, выручка {} рублей, ARPU {:.4f}'
      .format(users_spb, revenue_spb, arpu_spb))

Санкт-Петербург: пользователей 3500, выручка 48000 рублей, ARPU 13.7143

In [14]:
sorted(['один', 'два', 'три'])

['два', 'один', 'три']

In [18]:
queriesList = ['смотреть сериалы онлайн', 'новости спорта', 'афиша кино', 'курс доллара', 'сериалы этим летом', 'курс по питону', 'сериалы про спорт']

In [17]:
file_string = "003_logs_2017-11-03;001_logs_2017-11-01;005_logs_2017-11-05;002_logs_2017-11-02;004_logs_2017-11-04"

In [24]:
'||'.join(sorted(file_string.split(';')))

'001_logs_2017-11-01||002_logs_2017-11-02||003_logs_2017-11-03||004_logs_2017-11-04||005_logs_2017-11-05'

In [25]:
sequence = [ 'Google Adwords', 'Yandex Direct', 'Facebook', 'VK', 'Partner' ]

In [29]:
sequence[2:]

['Facebook', 'VK', 'Partner']

In [30]:
justNumbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [33]:
justNumbers[1::2]

[2, 4, 6, 8, 10]

In [34]:
weekdays = ['понедельник', 'вторник', 'среда', 'четверг', 'пятница', 'суббота', 'воскресенье']

In [35]:
minValue, maxValue = 4, 18
list(map(lambda x: x**0.5, range(minValue, maxValue, 2)))

[2.0,
 2.449489742783178,
 2.8284271247461903,
 3.1622776601683795,
 3.4641016151377544,
 3.7416573867739413,
 4.0]

In [36]:
direct_revenue = [83171,151604, 46315, 98753, 208648, 184682, 204061,134911,94791,109076,37254, 224991,36400,149320, 171336, 83854, 206799,180922, 235647, 217546, 200478, 239445, 144901, 26522,177971,148458,154937,196095,140202,189223]
week_1_revenue = direct_revenue[:7]

In [38]:
total_revenue = 0
for day in week_1_revenue:
    total_revenue += day
    print(day, total_revenue)

83171 83171
151604 234775
46315 281090
98753 379843
208648 588491
184682 773173
204061 977234

In [49]:
queriesText = 'смотреть сериалы онлайн;новости спорта;афиша кино;курс доллара;сериалы этим летом;курс по питону;сериалы про спорт'

In [52]:
total_len = 0
for i in queriesText.split(';'):
    for j in i.split(' '):
        total_len += 1

In [53]:
total_len

18