# ДОМАШНЕЕ ЗАДАНИЕ
Есть мнение, что "раньше снимали настоящее кино, не то что сейчас". Ваша задача проверить это утверждение, используя файлы с рейтингами фильмов из материалов занятия. Т. е. проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.

При этом мы не будем затрагивать субьективные факторы выставления этих рейтингов, а пройдемся по следующему алгоритму:

1. В переменную years запишите список из всех годов с 1950 по 2010.

2. Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска. Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:

для каждой строки пройдите по всем годам списка years
если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска
если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год
учтите, что год в списке years является числом, поэтому для проверки его наличия в заголовке фильма надо преобразовать его в строку с помощью str(year)
3. Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец 'year'

4. Посчитайте средний рейтинг всех фильмов для каждого значения столбца 'year' и отсортируйте результат по убыванию рейтинга. Напоминание: для таких задач проще всего использовать метод groupby.

Для размышления: верно ли, что в итоговой таблице 'старые' фильмы 1950-60 годов в основном находятся в верхней части таблицы? А в конце таблицы - более новые фильмы?

In [1]:
import pandas as pd
import numpy as np

In [2]:
movies = pd.read_csv('./module06_files/movies.csv')
ratings = pd.read_csv('./module06_files/ratings.csv')

In [3]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [4]:
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [5]:
movies.shape, ratings.shape

((9125, 3), (100004, 4))

In [5]:
years = list(range(1950, 2011))

In [6]:
def production_year(row):
    for y in years:
        if str(y) in row['title']:
            return y
    return '1900'

In [7]:
movies['year'] = movies.apply(production_year, axis=1)

In [8]:
movies.head()

,movieId,title,genres,year
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,Jumanji (1995),Adventure|Children|Fantasy,1995
2,3,Grumpier Old Men (1995),Comedy|Romance,1995
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,1995
4,5,Father of the Bride Part II (1995),Comedy,1995

In [9]:
joined = movies.merge(ratings
                      .groupby('movieId')[['rating']]
                      .mean(), 
                      on='movieId', 
                      how='left')

In [10]:
rating_by_year = joined.groupby('year')['rating'].mean().sort_values(ascending=False)

In [11]:
rating_by_year.idxmax()

1951

## Неверно!

In [12]:
movies.head()

,movieId,title,genres,year
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,Jumanji (1995),Adventure|Children|Fantasy,1995
2,3,Grumpier Old Men (1995),Comedy|Romance,1995
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,1995
4,5,Father of the Bride Part II (1995),Comedy,1995

In [13]:
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [14]:
joined2 = (ratings
           .merge(movies[['movieId', 'year']], 
                  on='movieId', how='left')
           .groupby('year')['rating']
           .mean()
           .sort_values(ascending=False))

In [15]:
joined2.idxmax()

1957

## Верно!