In [1]:
import pandas as pd
import numpy as np

In [2]:
ratings = pd.read_csv('./module05_files/ratings.csv')
movies = pd.read_csv('./module06_files/movies.csv')

In [11]:
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [3]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

# Упражнение
(1 возможный балл)
Посчитайте какое количество фильмов в датафрейме movies относится к жанру Fantasy? Т. е. найдите количество строк, у которых в столбце genres упоминается слово 'Fantasy'. Напомним, что для такого фильтра можно использовать метод str.contains

In [10]:
movies[movies['genres'].str.contains('Fantasy')].count()

movieId    654
title      654
genres     654
dtype: int64

In [20]:
joined = ratings.merge(movies, on='movieId', how='left')

In [21]:
joined

,userId,movieId,rating,timestamp,title,genres
0,1,31,2.5,1260759144,Dangerous Minds (1995),Drama
1,1,1029,3.0,1260759179,Dumbo (1941),Animation|Children|Drama|Musical
2,1,1061,3.0,1260759182,Sleepers (1996),Thriller
3,1,1129,2.0,1260759185,Escape from New York (1981),Action|Adventure|Sci-Fi|Thriller
4,1,1172,4.0,1260759205,Cinema Paradiso (Nuovo cinema Paradiso) (1989),Drama
5,1,1263,2.0,1260759151,"Deer Hunter, The (1978)",Drama|War
6,1,1287,2.0,1260759187,Ben-Hur (1959),Action|Adventure|Drama
7,1,1293,2.0,1260759148,Gandhi (1982),Drama
8,1,1339,3.5,1260759125,Dracula (Bram Stoker's Dracula) (1992),Fantasy|Horror|Romance|Thriller
9,1,1343,2.0,1260759131,Cape Fear (1991),Thriller
10,1,1371,2.5,1260759135,Star Trek: The Motion Picture (1979),Adventure|Sci-Fi
11,1,1405,1.0,1260759203,Beavis and Butt-Head Do America (1996),Adventure|Animation|Comedy|Crime
12,1,1953,4.0,1260759191,"French Connection, The (1971)",Action|Crime|Thriller
13,1,2105,4.0,1260759139,Tron (1982),Action|Adventure|Sci-Fi
14,1,2150,3.0,1260759194,"Gods Must Be Crazy, The (1980)",Adventure|Comedy
15,1,2193,2.0,1260759198,Willow (1988),Action|Adventure|Fantasy
16,1,2294,2.0,1260759108,Antz (1998),Adventure|Animation|Children|Comedy|Fantasy
17,1,2455,2.5,1260759113,"Fly, The (1986)",Drama|Horror|Sci-Fi|Thriller
18,1,2968,1.0,1260759200,Time Bandits (1981),Adventure|Comedy|Fantasy|Sci-Fi
19,1,3671,3.0,1260759117,Blazing Saddles (1974),Comedy|Western
20,2,10,4.0,835355493,GoldenEye (1995),Action|Adventure|Thriller
21,2,17,5.0,835355681,Sense and Sensibility (1995),Drama|Romance
22,2,39,5.0,835355604,Clueless (1995),Comedy|Romance
23,2,47,4.0,835355552,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
24,2,50,4.0,835355586,"Usual Suspects, The (1995)",Crime|Mystery|Thriller
25,2,52,3.0,835356031,Mighty Aphrodite (1995),Comedy|Drama|Romance
26,2,62,3.0,835355749,Mr. Holland's Opus (1995),Drama
27,2,110,4.0,835355532,Braveheart (1995),Action|Drama|War
28,2,144,3.0,835356016,"Brothers McMullen, The (1995)",Comedy
29,2,150,5.0,835355395,Apollo 13 (1995),Adventure|Drama|IMAX
...,...,...,...,...,...,...
99974,671,4034,4.5,1064245493,Traffic (2000),Crime|Drama|Thriller
99975,671,4306,5.0,1064245548,Shrek (2001),Adventure|Animation|Children|Comedy|Fantasy|Ro...
99976,671,4308,3.5,1065111985,Moulin Rouge (2001),Drama|Musical|Romance
99977,671,4880,4.0,1065111973,Life as a House (2001),Drama
99978,671,4886,5.0,1064245488,"Monsters, Inc. (2001)",Adventure|Animation|Children|Comedy|Fantasy
99979,671,4896,5.0,1065111996,Harry Potter and the Sorcerer's Stone (a.k.a. ...,Adventure|Children|Fantasy
99980,671,4963,4.5,1065111855,Ocean's Eleven (2001),Crime|Thriller
99981,671,4973,4.5,1064245471,"Amelie (Fabuleux destin d'Amélie Poulain, Le) ...",Comedy|Romance
99982,671,4993,5.0,1064245483,"Lord of the Rings: The Fellowship of the Ring,...",Adventure|Fantasy
99983,671,4995,4.0,1064891537,"Beautiful Mind, A (2001)",Drama|Romance
99984,671,5010,2.0,1066793004,Black Hawk Down (2001),Action|Drama|War
99985,671,5218,2.0,1065111990,Ice Age (2002),Adventure|Animation|Children|Comedy
99986,671,5299,3.0,1065112004,My Big Fat Greek Wedding (2002),Comedy|Romance
99987,671,5349,4.0,1065111863,Spider-Man (2002),Action|Adventure|Sci-Fi|Thriller
99988,671,5377,4.0,1064245557,About a Boy (2002),Comedy|Drama|Romance
99989,671,5445,4.5,1064891627,Minority Report (2002),Action|Crime|Mystery|Sci-Fi|Thriller
99990,671,5464,3.0,1064891549,Road to Perdition (2002),Crime|Drama
99991,671,5669,4.0,1063502711,Bowling for Columbine (2002),Documentary
99992,671,5816,4.0,1065111963,Harry Potter and the Chamber of Secrets (2002),Adventure|Fantasy
99993,671,5902,3.5,1064245507,Adaptation (2002),Comedy|Drama|Romance
99994,671,5952,5.0,1063502716,"Lord of the Rings: The Two Towers, The (2002)",Adventure|Fantasy
99995,671,5989,4.0,1064890625,Catch Me If You Can (2002),Crime|Drama
99996,671,5991,4.5,1064245387,Chicago (2002),Comedy|Crime|Drama|Musical
99997,671,5995,4.0,1066793014,"Pianist, The (2002)",Drama|War
99998,671,6212,2.5,1065149436,Bringing Down the House (2003),Comedy
99999,671,6268,2.5,1065579370,Raising Victor Vargas (2002),Comedy|Drama|Romance
100000,671,6269,4.0,1065149201,Stevie (2002),Documentary
100001,671,6365,4.0,1070940363,"Matrix Reloaded, The (2003)",Action|Adventure|Sci-Fi|Thriller|IMAX
100002,671,6385,2.5,1070979663,Whale Rider (2002),Drama
100003,671,6565,3.5,1074784724,Seabiscuit (2003),Drama

In [22]:
len(ratings) == len(joined)

True

# УПРАЖНЕНИЕ
Вам даны выгрузки статистики рекламных кампаний из Яндекс.Директа (файл direct_stats.tsv) и заказов на сайте из CRM (файл crm_stats.tsv). В файле со статистикой Яндекс.Директа приведены данные по открученной рекламе: для каждой кампании (столбец campaign) есть показы объявлений, клики и расходы. В файле с  выгрузкой CRM - для этих же кампаний сумма заказов на сайте (столбец orders).

1Вам необходимо совместить эти выгрузки по дате и названию кампании. И посчитать стоимость заказа для каждой кампании за каждый день. Т. е. отношение расходов (столбец cost) к количеству заказов (столбец orders).

# Онлайн-проверка
(1 возможный балл)
Какое значение стоимости заказа получится к кампании landings_promo за 1 января 2018? Ответ округлите до ближайшего целого числа. Пример ответа: 698

In [30]:
direct_stats = pd.read_csv('./module06_files/direct_stats.tsv', sep='\t')
crm_stats = pd.read_csv('./module06_files/crm_stats.tsv', sep='\t')

In [31]:
direct_stats.head()

         date                 campaign     views  clicks     cost
0  2018-01-01           landings_promo  38120423   49557  1139801
1  2018-01-01       homepage_partner_1   5729483   12605   189073
2  2018-01-01       homepage_partner_2   4412029    9265   176040
3  2018-01-01  socdem_w_25-34_vip_test    913823    2559    89555
4  2018-01-02           landings_promo  40873806   61311  1471457

In [33]:
crm_stats.head()

         date                 campaign  orders
0  2018-01-01           landings_promo    1487
1  2018-01-01       homepage_partner_1     386
2  2018-01-01       homepage_partner_2     315
3  2018-01-01  socdem_w_25-34_vip_test      85
4  2018-01-02           landings_promo    1605

In [49]:
stats_j = direct_stats.merge(crm_stats, on=['date', 'campaign'], how='left')
stats_j['cost_per_order'] = stats_j['cost'] / stats_j['orders']
stats_filter = (stats_j['campaign'] == 'landings_promo') & (stats_j['date'] == '2018-01-01')
print('Answer: {:.0f}'.format(stats_j[stats_filter]['cost_per_order'][0]))

Answer: 767

# СЧИТАЕМ РЕЙТИНГИ ЖАНРОВ


Итак, теперь для каждой строки датафрейма joined нам нужно выделить рейтинги жанров из списка genres. Напомним список жанров, которые нам интересны:

In [55]:
genres = ['Drama', 'Action', 'Thriller']

Т. е. для каждой строки joined нам нужно добавить 3 столбца для жанров Drama, Action и Thriller.

Если жанр встречается в текущей строке, то присвоить ему значение столбца rating. Если жанра в строке нет, то ставим пустое значение np.NaN (т. е. указываем, что в ячейке нет числа).

Здесь нам пригодится библиотека numpy (которую мы обозначили как np). А пустое значение ставим, чтобы при подсчете среднего эти строки не учитывались в результате. Можно было ставить 0, но тогда это сильно исказит итоговый средний рейтинг жанра.

Напишем отдельную функцию для этой операции, а потом применим ее к каждой строке датафрейма joined с помощью метода apply. Соответственно, логика функции должна быть такой:

1. Функция должна возвращать столько же столбцов, сколько элементов в списке genres.

2. Вместо названий жанров надо подставлять значение столбца rating, если жанр есть в столбце genres датафрейма.

3. Если названия жанра не оказалось, то возвращаем np.NaN

С помощью list comprehension эти требования можно уместить в одну строку:

In [76]:
def genres_ratings(row):

    return pd.Series([row['rating'] 
                      if genre in row['genres'] 
                      else np.NaN for genre in genres])

In [57]:
joined[genres] = joined.apply(genres_ratings, axis=1)

In [67]:
joined.head()

,userId,movieId,rating,timestamp,title,genres,Drama,Action,Thriller
0,1,31,2.5,1260759144,Dangerous Minds (1995),Drama,2.5,NaN,NaN
1,1,1029,3.0,1260759179,Dumbo (1941),Animation|Children|Drama|Musical,3.0,NaN,NaN
2,1,1061,3.0,1260759182,Sleepers (1996),Thriller,NaN,NaN,3.0
3,1,1129,2.0,1260759185,Escape from New York (1981),Action|Adventure|Sci-Fi|Thriller,NaN,2.0,2.0
4,1,1172,4.0,1260759205,Cinema Paradiso (Nuovo cinema Paradiso) (1989),Drama,4.0,NaN,NaN

Выводим итоговый результат:

In [68]:
for genre in genres:
    print('{} mean rating {:.2f}'.format(genre, joined[genre].mean()))

Drama mean rating 3.68
Action mean rating 3.45
Thriller mean rating 3.52

# ПРОВЕРОЧНОЕ ЗАДАНИЕ


Вам необходимо установить какие жанры фильмов имеют меньше всего оценок в наших данных. В качестве списка жанров используйте расширенную версию:

In [69]:
ext_genres = ['Drama', 'Action', 'Thriller', 'Comedy', 'Romance', 'War', 'Mystery', 'Crime']

# Онлайн-проверка
(1 возможный балл)
Какое количество оценок имеет жанр с наименьшим количеством рейтингов?

In [78]:
joined[ext_genres] = joined.apply(genres_ratings, axis=1)

In [99]:
joined[joined[ext_genres].count().idxmin()].count()

5025