In [1]:
import pandas as pd
import numpy as np

In [2]:
names = ['id', 'date', 'user_id', 'duration', 'medium', 'source', 'cost', 'order_id', 'amount_paid']
df = pd.read_csv('./module15_files/real_data_no_header.txt', sep='\t', names=names)

In [3]:
df

,id,date,user_id,duration,medium,source,cost,order_id,amount_paid
0,40443,05.10.2016 23:18,1010,"0,000925926",seo,google,0,6243,"20,20"
1,35044,09.10.2016T 21:40:00,1036,"0,006493056",sem,yandex,"0,07",6145,"15,60"
2,40177,05.10.2016 3:23,1041,"0,00337963",email,promo,0,6128,NaN
3,39401,05.10.2016 23:19,1041,"0,000462963",sem,yandex,"0,03",6697,NaN
4,41545,01.10.2016 4:57,1042,"0,006493056",sem,google,"0,06",4510,"14,80"
5,38308,01.10.2016 23:29,1042,"0,00337963",sem,google,"0,06",2622,"14,40"
6,35921,03.10.2016 20:20,1042,"0,001388889",sem,google,"0,12",2663,"14,00"
7,41783,04.10.2016 0:35,1042,"0,001643519",brand,yandex,0,2582,"20,00"
8,42099,04.10.2016 13:46,1042,"0,001921296",sem,yandex,"0,11",2619,"16,20"
9,38328,04.10.2016 17:34,1042,"0,003287037",email,promo,0,2598,"11,00"
10,40986,05.10.2016 15:15,1042,"0,001643519",cpa-partners,burgerclub,"0,88",3993,10800000
11,41809,06.10.2016 20:45,1042,"0,001921296",seo,google,0,4421,"22,60"
12,40804,07.10.2016 2:54,1042,"0,006493056",seo,google,0,2704,"22,40"
13,37729,07.10.2016 5:02,1042,"0,003287037",sem,yandex,"0,11",3441,"24,40"
14,37274,07.10.2016 6:35,1042,"0,003842593",seo,google,0,3637,"16,60"
15,37711,08.10.2016T 16:46:00,1042,"0,000462963",sem,yandex,"0,03",2599,"8,60"
16,35331,01.10.2016 13:39,1047,"0,001921296",seo,yandex,0,4182,NaN
17,40842,05.10.2016 21:41,1047,"0,001643519",cpa-partners,food-delivery,"1,86",3802,NaN
18,39418,07.10.2016 9:59,1052,"0,000821759",email,promo,0,4217,"24,00"
19,35805,08.10.2016T 19:36:00,1052,"0,001921296",sem,yandex,"0,04",3842,"18,80"
20,37794,04.10.2016 11:12,1057,"0,000821759",email,promo,0,3870,NaN
21,41669,09.10.2016T 2:47:00,1057,"0,003842593",sem,google,"0,19",4324,NaN
22,40626,09.10.2016T 16:27:00,1062,"0,003287037",sem,google,"0,1",6072,"11,20"
23,39741,05.10.2016 4:38,1067,"0,003287037",email,promo,0,6678,"19,00"
24,41732,04.10.2016 9:56,1078,"0,006759259",sem,google,"0,21",6274,"23,40"
25,41894,04.10.2016 14:36,1085,"0,001921296",cpc-partners,city-magazine,"0,15",6098,"17,00"
26,38909,05.10.2016 16:41,1096,"0,003287037",seo,google,0,6389,"20,80"
27,41626,01.10.2016 11:55,1098,"0,001643519",email,promo,0,6654,"15,60"
28,42106,01.10.2016 14:16,1100,"0,001388889",cpc-partners,foody,"0,1",2320,NaN
29,39548,02.10.2016 1:39,1100,"0,000462963",seo,yandex,0,2210,NaN
...,...,...,...,...,...,...,...,...,...
264,41985,04.10.2016 7:31,1371,"0,003287037",sem,yandex,"0,25",7920,"13,60"
265,37236,04.10.2016 1:36,1372,"0,002777778",sem,google,"0,17",6865,"30,40"
266,41859,07.10.2016 17:25,1374,"0,001643519",sem,yandex,"0,04",7443,"12,40"
267,39909,05.10.2016 23:06,1377,"0,006493056",sem,yandex,"0,32",7264,"16,00"
268,38282,06.10.2016 14:29,1380,"0,001921296",seo,yandex,0,7535,"30,40"
269,35349,09.10.2016T 4:55:00,1382,"0,000925926",cpc-partners,city-magazine,"0,15",7327,"23,20"
270,42265,05.10.2016 21:24,1383,"0,001921296",sem,google,"0,02",7168,"20,00"
271,35802,05.10.2016 8:14,1386,"0,001643519",email,promo,0,7681,"12,60"
272,35239,03.10.2016 11:43,1387,"0,000925926",sem,google,"0,31",6805,"14,60"
273,41725,01.10.2016 6:21,1388,"0,000462963",cpc-partners,city-magazine,"0,2",7149,"11,80"
274,37175,03.10.2016 6:03,1392,"0,000821759",smm,facebook,0,9899,"20,20"
275,37938,06.10.2016 5:34,1393,"0,00337963",sem,google,"0,11",7970,"10,00"
276,36127,04.10.2016 23:55,1394,"0,002777778",email,promo,0,7779,"12,80"
277,39184,05.10.2016 5:01,1397,"0,003842593",sem,yandex,"0,07",7747,"20,60"
278,35554,05.10.2016 22:54,1398,"0,001643519",seo,yandex,0,6779,"18,00"
279,35131,01.10.2016 17:01,1424,"0,006759259",cpa-partners,food-delivery,"1,92",2121,NaN
280,37708,03.10.2016 6:50,1424,"0,002777778",seo,yandex,0,2172,NaN
281,41704,04.10.2016 5:27,1424,"0,003842593",sem,yandex,"0,04",2120,NaN
282,38916,04.10.2016 16:14,1424,"0,002777778",sem,google,"0,09",3943,NaN
283,35511,04.10.2016 18:21,1424,"0,00337963",email,promo,0,4452,NaN
284,36489,05.10.2016 23:33,1424,"0,001643519",sem,yandex,"0,18",2182,NaN
285,35839,06.10.2016 7:27,1424,"0,001643519",seo,google,0,2180,NaN
286,36573,07.10.2016 3:01,1424,"0,000925926",email,promo,0,2105,NaN
287,38443,07.10.2016 16:08,1424,"0,001643519",sem,google,"0,14",3634,NaN
288,41634,07.10.2016 16:12,1424,"0,001643519",sem,google,"0,06",3422,NaN
289,40614,08.10.2016T 12:41:00,1424,"0,001643519",email,promo,0,2090,NaN
290,39592,08.10.2016T 15:26:00,1424,"0,012986111",seo,yandex,0,2177,NaN
291,35180,08.10.2016T 17:21:00,1424,"0,003287037",email,promo,0,4401,NaN
292,36550,09.10.2016T 8:00:00,1424,"0,000821759",sem,google,"0,19",2073,NaN
293,39244,10.10.2016 1:24,1424,"0,000821759",sem,yandex,"0,03",6507,NaN

# Итак, в файле вы встретите следующие особенности:

- Даты имеют разный формат: за 8 и 9 октября формат с "09.10.2016 21:40" сменился на "09.10.2016T 21:40:00" (добавилась буква T и секунды). Разработчики объяснили этот тем, что сбились настройки в базе данных.
- У покупок некоторых пользователей неизвестно значение выручки, из-за чего количество столбцов в строке уменьшается на один.
- У CPA-партнеров (для столбца medium = cpa-partners) реальная сумма покупки умножена на миллион. Так иногда действительно делают, чтобы избежать дробных чисел и работать только с целыми. Разработчикам просто так удобнее.

Наша задача - посчитать среднее значение суммы покупки за каждый день. Т. е. для каждой строки надо перевести время покупки в дату, верно пересчитать сумму покупки и просто сгруппировать таблицу по дням (например, в Pandas).

Поскольку проблемы исходных данных нам известны, то давайте перед тем как писать циклы или использовать Pandas напишем функции, которые помогут нам обойти эти проблемы. Начнем с дат. Что будет, если будем расшифровывать данные только в "старом" формате?

In [4]:
from datetime import datetime

# Если дата в формате "05.10.2016 23:18" (дата из первой строки файла), то здесь все просто:

date_string = '05.10.2016 23:18'

date_datetime = datetime.strptime(date_string, '%d.%m.%Y %H:%M')

print(date_datetime)

2016-10-05 23:18:00

In [5]:
# Для перевода в дату покупки добавляем:

print(date_datetime.strftime('%Y-%m-%d'))

2016-10-05

In [6]:
# Давайте для удобства обернем эту операцию в функцию, мы еще много раз будем использовать этот алгоритм:

def datetime_to_date(date_string):

    """Перевод даты покупки в формат %Y-%m-%d"""

    try:
        date_datetime = datetime.strptime(date_string, '%d.%m.%Y %H:%M')  
    except ValueError:
        try:
            date_datetime = datetime.strptime(date_string, '%d.%m.%YT %H:%M:%S')
        except ValueError:
            return 'undefined'

    return date_datetime.strftime('%Y-%m-%d')

In [7]:
datetime_to_date('05.10.2016 23:18')

'2016-10-05'

In [8]:
datetime_to_date('09.10.2016T 21:40:00')

'2016-10-09'

In [9]:
datetime_to_date('2017-10-05')

'undefined'

In [10]:
df['dateTime'] = df['date'].map(datetime_to_date)
df.drop('date', axis=1, inplace=True)

In [11]:
df.dropna(inplace=True)

In [ ]:
cpa_fltr = df['medium']=='cpa-partners'
float_columns = ['cost', 'amount_paid']
df[float_columns] = df[float_columns].apply(lambda x: x.str.replace(',', '.').astype('float32'))

df.loc[cpa_fltr, 'amount_paid'] = df.loc[cpa_fltr, 'amount_paid'] / 1e6

In [19]:
df.groupby('dateTime')['amount_paid'].mean()

dateTime
2016-10-01    16.030001
2016-10-02    16.990910
2016-10-03    18.770000
2016-10-04    18.108334
2016-10-05    16.455999
2016-10-06    17.080000
2016-10-07    18.445454
2016-10-08    18.141176
2016-10-09    18.810526
2016-10-10    17.000000
Name: amount_paid, dtype: float32